{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VolleyIQ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tournaments/style.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>VolleyIQ</h1>
        <div>
            <a href="/">Home</a>
            <a href="/list/">Tournaments</a>
            <a href="/teams/">Teams</a>

            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Player' %}
                        <a href="/my-performance/">My Performance</a>
                        <a href="/my-profile/">My Profile</a>
                    {% endif %}
                    {% if group.name == 'Club Manager' %}
                        <a href = "/announcements/">Announcements</a>
                    {% endif %}
                {% endfor %}

                <form action="/accounts/logout/" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline">Logout</button>
                </form>
            {% else %}
                <a href="/accounts/login/">Login</a>
            {% endif %}
        </div>
    </div>

    {% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="card" style="margin-bottom:16px;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>