{% extends 'tournaments/base.html' %}

{% block title %}Home | VolleyIQ{% endblock %}

{% block content %}
<div class="card hero">
    <h2>VolleyIQ Tournament System</h2>
    <p>Manage volleyball tournaments with role-based access.</p>

    {% if user.is_authenticated %}
        <p><strong>Welcome, {{ user.username }}!</strong></p>

        <div class="role-box">
            <strong>Your role:</strong>
            {% for group in user.groups.all %}
                {{ group.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No role assigned
            {% endfor %}
        </div>

        <div class="actions" style="margin-top: 24px;">
            {% for group in user.groups.all %}
                {% if group.name == 'Club Manager' %}
                    <a class="btn btn-accent" href="/create/">Create Tournament</a>
                    <a class = "btn btn-primary" href = "/announcements/send/">Send Announcement</a>
                {% endif %}
            {% endfor %}

            <a class="btn btn-primary" href="/list/">View Tournaments</a>

            {% for group in user.groups.all %}
                {% if group.name == 'Player' %}
                    <a class="btn btn-primary" href="/my-tasks/">My Tasks</a>
                    <a class="btn btn-primary" href="/my-performance/">My Performance</a>
                    {% for team in player_teams %}
                        <a class = "btn btn-outline" href = "/teams/{{ team.id }}/announcements/">
                            {{team.name}} Announcements
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <form action="/accounts/logout/" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline">Logout</button>
            </form>
        </div>
    {% else %}
        <div class="actions">
            <a class="btn btn-primary" href="/accounts/login/">Login</a>
            <a class="btn btn-outline" href="/list/">View Tournaments</a>
        </div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="card table-card" style="margin-top:24px;">
    <h2>Recent Notifications</h2>
    <p class="small-text">Latest updates related to your matches and tournaments.</p>

    {% if notifications %}
        <table>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.message }}</td>
                        <td>{{ notification.created_at|date:"M d, Y - H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No notifications yet.</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}